body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a,
a:visited,
a:focus {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  font-family: "微软雅黑";
}
body {
  margin-top: 1.4rem;
  margin-bottom: 3.2rem;
}
.fixed-top a {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  top: 0;
  line-height: 1.4rem;
  text-align: center;
}
.fixed-top a.back {
  left: 0;
}
.fixed-top a.back span {
  color: #fff;
  font-size: 0.74rem;
}
.fixed-top h3 {
  width: 100%;
  height: 1.4rem;
  line-height: 1.4rem;
  background: #07b4d2;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
}
.title {
  line-height: 2rem;
  font-weight: normal;
  background-color: #fbfcff;
  color: #9ca9b4;
  position: relative;
}
.title h3 {
  height: 2rem;
  line-height: 2rem;
  font-weight: normal;
  background-color: #fbfcff;
  font-size: 0.64rem;
  padding-left: 1.7rem;
  color: #9ca9b4;
}
.title span {
  position: absolute;
  height: 2rem;
  display: inline-block;
  line-height: 2rem;
  left: 0;
  padding-left: 0.6rem;
  font-size: 0.64rem;
  color: red;
}
section {
  font-size: 0.64rem;
}
section.container {
  margin-bottom: 0.4rem;
}
section header {
  width: 100%;
  font-size: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.7);
}
section header .time {
  display: inline-block;
  width: auto;
}
section header .place {
  float: right;
  display: inline-block;
  width: auto;
}
section .mid {
  position: relative;
  padding: 0.6rem 0 0.4rem;
  padding-left: 2.8rem;
  overflow: hidden;
}
section .mid span:nth-of-type(3) {
  color: red;
}
section .mid .userImg {
  position: absolute;
  margin: auto 0;
  left: 0;
  top: 30%;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 100%;
}
section .mid span,
section .mid p {
  width: 100%;
  line-height: 0.9rem;
  padding-top: 0.4rem;
  color: #222;
}
section .mid span {
  float: left;
  width: 50%;
}
section .mid p {
  line-height: 1.1rem;
  clear: both;
}
section footer {
  position: relative;
  line-height: 0.6rem;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 0.4rem;
}
section footer .myBtn {
  padding: 0.175rem 0.75rem;
  font-size: 0.6rem;
  line-height: 0.8rem;
}
section footer .btn-success {
  color: #fff;
  background-color: #46bf4b;
  border-color: #28a745;
}
.myFix {
  height: 2.2rem;
  padding: 0.04rem 0;
  background: #e5ebf0;
  text-align: center;
}
.myFix a {
  color: #fbfcff;
  text-decoration: none;
}
.myFix a.my {
  color: red;
}
.myFix a.my i {
  color: red !important;
}
.myFix a.my span {
  color: red !important;
}
.myFix a.flex-fill {
  text-align: center;
  background-color: #fff;
  margin-right: 0.04rem;
}
.myFix a.flex-fill i {
  color: #6d6d72;
  font-size: 0.9rem;
  display: inline-block;
  background-color: #fff;
}
.myFix a.flex-fill span {
  color: #5B777D;
  font-size: 0.7rem;
  display: block;
  line-height: 0.3rem;
  width: 100%;
}
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
/*页面加载*/
#preloader {
  position: fixed;
  z-index: 2500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
#preloader #status {
  z-index: 999999;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-size: 32px 32px;
  margin-top: -125px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -115px;
}
#preloader #status p {
  top: 70%;
}
#preloader #status p.center-text {
  text-align: center;
  background-image: url(../img/loading.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 182px;
  width: 234px;
}
#preloader #status p span {
  font-size: 14px;
  color: #999999;
  position: relative;
  top: 170px;
}
.myTab {
  text-align: center;
  border-bottom: 0.5px solid #d0cccc;
  height: 40px;
  margin-bottom: 10px;
}
.myTab.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
}
.myTab a {
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
.myTab a span {
  /*vertical-align: middle;*/
  width: 100%;
  color: #909090;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #d0cccc;
}
.myTab a .complete {
  border: none;
}
.myTab a .active {
  color: #46cdd0;
  box-shadow: 0 -2px #46cdd0 inset;
}
.myTab-l,
.myTab-r {
  padding: 5px 0 0;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  border: 2px solid #f1f1f1;
  margin-top: 10px;
  height: 40px;
  line-height: 25px;
  color: #46cdd0 !important;
  margin-bottom: 10px;
}
.myTab-r {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}
.active {
  background-color: #46cdd0;
  color: #fff !important;
}
.myTab-l {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}
/*# sourceMappingURL=list.css.map */